html,
body {
  height: 100%;
}
/* Destination background images */
.Schedule--greece {
  background-image: url(../assets/Images/greece.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 8rem;
}

.Schedule--hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 8rem;
}

.Schedule--iceland {
  background-image: url(../assets/Images/iceland.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 8rem;
}

/* Schedule */
.schedule {
  padding-top: 8rem;
}

.Schedule--text {
  color: white;
  font-size: 8rem;
  margin: 0;
  padding-left: 12rem;
  padding-top: 8rem;
}

/* Recommendation section and cards */
.recommendations {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.recommendation-area {
  width: 100%;
  margin-top: 5rem;
}

.recommendations {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4.5rem;
  flex-direction: row;
}

.recommendation-card {
  display: flex;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  width: 28rem;
  height: 40rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  padding: 1rem 0;
}

.schedule--activity {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  background-color: #fefaf5;
  margin: auto;
  border-radius: 0.5rem;
  width: 85%;
  padding: 2rem 0;
}

.schedule--day {
  border-bottom: 0.5rem solid black;
  font-size: 2.7rem;
  width: 85%;
  align-content: center;
  margin: auto;
}
