/* global settings */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  width: 1280px;
}

body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
}

h3 {
  font-size: 2rem;
}

/* navigation css */

.navigation {
  display: flex;
  width: 128rem;
  height: 8rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
}

.navigation-item {
  display: flex;
  padding: 0 10rem;
  gap: 2rem;
}

.navigation-item--links {
  font-size: 2rem;
  font-weight: 400;
  color: black;
}

.navigation-item--links:hover {
  font-size: 2rem;
  font-weight: 400;
  color: black;
  border-bottom: solid #db7a4e;
}

.page-active {
  border-bottom: solid #db7a4e;
}

.navigation-item--logo {
  vertical-align: middle;
  color: #335576;
  font-weight: bold;
  font-size: 2.5rem;
  padding-left: 2rem;
}

/* footer */
.footer {
  display: flex;
  background-color: #fefaf5;
  width: 100%;
  padding: 6rem 4rem;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
}

.footer__item {
  text-align: left;
  width: fit-content;
  margin: 0;
  height: 9.5rem;
}

.footer__item--title {
  color: #335576;
  font-size: 2.8rem;
  margin: 0;
  padding-bottom: 2.5rem;
}

.footer-hours--subtitle {
  color: #db7a4e;
  font-size: 1.2rem;
  margin: 0;
}

.footer-hours--text {
  color: #335576;
  font-size: 1.5rem;
  padding-top: 1rem;
  margin: 0;
}

.footer-hours {
  display: flex;
}

.footer-days:not(:last-child) {
  margin-right: 6rem;
}

.footer__icons {
  display: flex;
  gap: 4.5rem;
  padding-top: 1rem;
}

.footer__item--image {
  display: flex;
  height: 3rem;
  width: auto;
}
