.recommendations {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* .travel-card {
  display: flex;
  justify-content: space-between;
  width: 22rem;
  height: 27.5rem;
  flex-direction: row;
  text-align: center;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
} */
