body {
  width: 100%;
}

.recommendations {
  display: flex;
  width: 100%;
  justify-content: center;
}

.product-area {
  width: 100%;
  background-color: white;
  text-align: left;
  padding: 2.5rem 0;
}

.product-area__text {
  color: #335576;
  font-size: 2.5rem;
  padding-left: 5rem;
  font-weight: bolder;
}

.products {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5rem;
}

.products__product-card {
  display: flex;
  width: 28rem;
  height: 40rem;
  text-align: center;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
}

.hawaii {
  background-image: url(/assets/Images/hawaii.jpg);
  background-size: cover;
  background-position: center;
}

.iceland {
  background-image: url(/assets/Images/iceland.jpg);
  background-size: cover;
  background-position: center;
}
.greece {
  background-image: url(/assets/Images/greece.jpg);
  background-size: cover;
  background-position: center;
}

.products__text {
  margin-left: auto;
  margin-top: 135%;
  font-size: 3rem;
  color: white;
}
