.recommendations {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* .travel-card {
  display: flex;
  justify-content: space-between;
  width: 22rem;
  height: 27.5rem;
  flex-direction: row;
  text-align: center;
  background-color: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
} */

.product-area {
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
  padding: 2.5rem 0;
}

.products {
  width: 100%;
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  justify-content: center;
}

.products__product-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 22rem;
  height: 27.5rem;
  text-align: center;
  background-color: #fff;
  margin: 2.5rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.3125rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.25);
}

.products__product-card--product-img {
  height: 17.5rem;
  padding: 1.25rem 0;
  text-align: center;
}

.products__viewall {
  text-align: center;
  margin: 1.25rem 0;
}

.products__text {
  display: flex;
  background-color: #fff0ed;
  justify-content: space-between;
  padding: 1.25rem;
}

.products__product-card--name {
  text-align: left;
}

.products__product-card--price {
  color: #5bacc3;
  font-size: 1.875rem;
  font-weight: bold;
  align-self: center;
}

.products_text--style {
  color: #909090;
  font-size: 1rem;
  font-weight: 400;
}
